.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #555;
}

.test-asset {
  background-image: url('../assets/SVG_Logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 128px;
  height: 128px;
  background-size: contain;
}
